# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb

# Jupyter Notebook autosave
.~*.ipynb

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 

# output and error files 
slurmjobs/errors
slurmjobs/output
out_em/

#pycache (already covered by line 10, but keeping for clarity)
__pycache__/

#Oddjob specific files
configurations/*oddjobs*
slurmjobs/*oddjobs*

# scratch files
scratch_files/
scratch/ 

# data quality check
data_quality_check/output/
data_quality_check/errors/